{% extends 'base.html' %}

{% load static %}

{% block title %}Cart | FlutterWave Integration{% endblock title %}

{% block content %}

<div class="align-middle">
  <form>
    {{ form.as_p }}
    <!-- <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
      </div>
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">Amount</label>
      <input type="number" class="form-control" placeholder="Enter amount">
    </div> -->
    <button class="btn btn-primary" type="button" id="start-payment-button" onclick="makePayment()">Pay Now</button>
  </form>
</div>


<script>

  let amt = {{ form.amount }},
  
  function makePayment() {
    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-SANDBOXDEMOKEY-X",
      tx_ref: "titanic-48981487343MDI0NzMx",
      amount: amt, 
      currency: "NGN", 
      payment_options: "card, banktransfer, ussd",
      redirect_url: "https://glaciers.titanic.com/handle-flutterwave-payment",
      meta: {
        company: "Denmark",
        company_mail: "denmark@gmail.com",
      },
      customer: {
        email: "pre.chika.22@gmail.com",
        phone_number: "08102909304",
        name: "Chika Precious Benjamin",
      },
      customizations: {
        title: "Test Care",
        description: "Payment",
        logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
      },
    });
  }
</script>


{% endblock content %}